* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.container-pie,
.container-line {
    width: 50%;
    height: 100%;
}
